{
  "network": {
    "Address": ":5672",
    "Port": 5672,
    "MaxConnections": 1000,
    "ConnectionTimeout": 30000000000,
    "HeartbeatInterval": 60000000000,
    "TCPKeepAlive": true,
    "TCPKeepAliveInterval": 30000000000,
    "ReadBufferSize": 8192,
    "WriteBufferSize": 8192
  },
  "storage": {
    "Backend": "badger",
    "Path": "./data",
    "Options": {},
    "Persistent": true,
    "SyncWrites": false,
    "MessageTTL": 0,
    "CacheSize": 67108864,
    "MaxOpenFiles": 100,
    "CompactionAge": 86400000000000,
    "OffsetCheckpointInterval": 5000000000
  },
  "security": {
    "TLSEnabled": false,
    "TLSCertFile": "",
    "TLSKeyFile": "",
    "TLSCAFile": "",
    "AuthenticationEnabled": false,
    "AuthenticationBackend": "file",
    "AuthenticationConfig": {},
    "AuthenticationFilePath": "./auth.json",
    "AuthMechanisms": ["PLAIN"],
    "AuthorizationEnabled": false,
    "DefaultVHost": "/",
    "AllowedUsers": [],
    "BlockedUsers": [],
    "AllowedHosts": [],
    "BlockedHosts": []
  },
  "server": {
    "Name": "amqp-go-server",
    "Version": "0.9.1",
    "Product": "AMQP-Go",
    "Platform": "Go",
    "Copyright": "Maxpert AMQP-Go Server",
    "LogLevel": "info",
    "LogFile": "",
    "PidFile": "",
    "Daemonize": false,
    "MaxChannelsPerConnection": 2047,
    "MaxFrameSize": 131072,
    "MaxMessageSize": 16777216,
    "ChannelTimeout": 60000000000,
    "MessageTimeout": 30000000000,
    "CleanupInterval": 300000000000,
    "memory_limit_percent": 60,
    "memory_limit_bytes": 0
  },
  "engine": {
    "available_channel_buffer": 10000000,
    "ring_buffer_size": 65536,
    "spill_threshold_percent": 80,
    "wal_batch_size": 1000,
    "wal_batch_timeout": 10000000,
    "wal_file_size": 536870912,
    "wal_channel_buffer": 10000,
    "segment_size": 1073741824,
    "segment_checkpoint_interval": 300000000000,
    "compaction_threshold": 0.5,
    "compaction_interval": 1800000000000,
    "consumer_select_timeout": 500000,
    "consumer_max_batch_size": 100,
    "expired_message_check_interval": 60000000000,
    "wal_cleanup_check_interval": 300000000000,
    "offset_cleanup_batch_size": 1000,
    "offset_cleanup_interval": 30000000000
  }
}
